@import url('./custom.css');

body{
    background: var(--body-color);
    font-family: vazir;
    background-image: url('./../image/yas-sefareshi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container{
    backdrop-filter: blur(50px);
    height: 100%;
}

.container .container-music-player{
    background-color: #f1ecec;
    border-radius: 20px;
    /* margin: 13.25vh auto; */
    width: 21rem;
}

.image-music{
    width: 18rem;
}

.title-music-player,
.singer-music-player{
    flex-wrap: wrap;
    padding: 0.5rem 0;
    color: #000;
    font-weight: bold;
}

input[type=range]{
    width: 16rem;
    outline: none;
    appearance: none;
    background: var(--theme-color);
    border-radius: 30px;
    height: 0.3rem;
}

input[type=range]::-webkit-slider-thumb{
    background: #083be2;
    height: 0.6rem;
    appearance: none;
    border-radius: 50%;
    width: 0.6rem;
}

.total-time-music,
.current-time-music{
    font-size: 0.7rem;
    color: #000;
    font-weight: bold;
}

.btn-control-music{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.icon-play-pause{
    margin-bottom: 2px;
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    .container .container-music-player{
        /* margin: 12vh auto; */
    }
}
@media screen and (max-width: 375px) {
    .image-music{
        width: 13rem;
    }

    .title-music-player, .singer-music-player {
        width: 60%;
        margin: 0 auto;
    }

    input[type=range]{
        width: 10rem;
        outline: none;
        appearance: none;
        background: var(--theme-color);
        border-radius: 30px;
        height: 0.4rem;
    }

    .container .container-music-player{
        width: 15rem;
        /* margin: 18vh auto; */
    }
}